@import './scss/mdb.free.scss';
@import './scss/free/variables';

$myprimary: #DA2121;

html {
    height: 100%;
    overflow-x: hidden;
  }

.heroFont {
    font-size: 68px;
}

.iginv {
    visibility: hidden;
    display: none;
}

.heroBg {
    height: 50vh;
}

.devAlign{
    text-align: center;
}

.titleBawah{
    font-size: 54px;
    font-weight: 600;
    color:#DA2121;
    text-align: center;
}

.borderRed{
    border: 4px solid $myprimary !important;
    margin-top: 1rem !important;
    width: 450px !important;
  }


@include media-breakpoint-up(lg) {
    .heroFont {
        font-size: 90px;
    }

    .iginv {
        visibility: visible;
        display: inherit;
    }

    .heroBg {
        height: 90%;
    }

    .about {
        text-align: left;
    }

    .titleBawah{
        font-size: 64px;
    }

    .devAlign{
        text-align: initial;
    }
}

@include media-breakpoint-up(xl) {
    .heroBg {
        height: 100%;
    }
}

$rounded: 3px;

$utilities: (
    "rounded": (
        property: border-radius,
        values: "3px"
    )
)