@import './scss/mdb.free.scss';
@import './scss/free/variables';

$myprimary: #DA2121;

html {
    height: 100%;
    overflow-x: hidden;
  }

.heroFont {
    font-size: 46px !important;
}

.homeFont {
    font-size: 56px !important;
}

.iginv {
    visibility: hidden;
    display: none;
}

.heroBg {
    height: 85% !important;
}

.devAlign{
    text-align: center;
    font-size: 16px;
}

.titleBawah{
    font-size: 48px;
    font-weight: 600;
    color:#DA2121;
    text-align: center;
}

.borderRed{
    border: 5px solid $myprimary !important;
    margin-top: 1rem !important;
    width: 450px;
    height: max-content;
  }

.devText{
    font-size: 18px;
}

.boxWidth{
    width: 100%;
    margin-bottom: 2rem;
}

@include media-breakpoint-up(lg) {
    .borderRed{
        height: 450px;
        width: 420px !important;
      }
    
    .boxWidth{
        width: 23vw !important;
        margin: 2rem;
    }
    

      .devText{
        font-size: 20px;
    }

    .heroFont {
        font-size: 90px !important;
    }

    .homeFont {
        font-size: 90px !important;
    }

    .iginv {
        visibility: visible;
        display: inherit;
    }

    .heroBg {
        height: 90%;
    }

    .about {
        text-align: left;
    }

    .titleBawah{
        font-size: 64px !important;
    }

    .devAlign{
        text-align: initial;
    }
}

@include media-breakpoint-up(xl) {
    .heroBg {
        height: 100%;
    }
}

$rounded: 3px;

$utilities: (
    "rounded": (
        property: border-radius,
        values: "3px"
    )
)